@tailwind base;
@tailwind components;
@tailwind utilities;

a,
button,
li {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1::first-letter,
h2::first-letter,
h3::first-letter,
h4::first-letter,
h5::first-letter,
h6::first-letter {
  text-transform: uppercase;
}

p {
  font-weight: 400;
}

/* Tailwind Class */
@layer components {
  .gradient-text-primary {
    @apply bg-gradient-to-l from-primary-500 to-primary-600 bg-clip-text text-transparent;
  }
  .gradient-primary {
    @apply bg-gradient-to-r from-primary-500 to-primary-600;
  }
}
