@tailwind base;
@tailwind components;
@tailwind utilities;

a,
button,
li {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1::first-letter,
h2::first-letter,
h3::first-letter,
h4::first-letter,
h5::first-letter,
h6::first-letter {
  text-transform: uppercase;
}

p {
  font-weight: 400;
}

.job-card {
  width: 100%;
  height: auto;
  padding: 16px;
  gap: 18px;
  border-radius: 10px;
  border: 1px solid #afafaf;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

/* Tailwind Class */
@layer components {
  .gradient-text-primary {
    @apply bg-gradient-to-l from-primary-500 to-primary-600 bg-clip-text text-transparent;
  }
  .gradient-primary {
    @apply bg-gradient-to-r from-primary-500 to-primary-600;
  }
}
