@tailwind base;
@tailwind components;
@tailwind utilities;

a,
button,
li,
input[type='checkbox'] {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1::first-letter,
h2::first-letter,
h3::first-letter,
h4::first-letter,
h5::first-letter,
h6::first-letter {
  text-transform: uppercase;
}

p {
  font-weight: 400;
}

.job-card {
  width: 100%;
  height: auto;
  padding: 16px;
  gap: 18px;
  border-radius: 10px;
  border: 1px solid #afafaf;
}

/* ============Swiper Career Page============ */
.swiper-slide-active {
  z-index: 9999;
}
.career-swiper-slide.swiper-slide-active img {
  transform: scale(1.2);
  position: relative;
}

.career-swiper-slide.swiper-slide-next img,
.career-swiper-slide.swiper-slide-prev img {
  z-index: 0;
  filter: grayscale(100%);
}

.career-slide-testimonial.swiper-slide-active div {
  background-color: #4cb9e7;
  transform: scale(1.1);
  color: white;
}

/* For mobile */
@media (max-width: 768px) {
  .responsive-image-career-filtered {
    content: url('/assets/SectionProcessRecruitment_Mobile.png');
  }
}

/* For larger screens */
@media (min-width: 769px) {
  .responsive-image-career-filtered {
    content: url('/assets/SectionProcessRecruitment.png');
  }
}

/* Tailwind Class */
@layer components {
  .gradient-text-primary {
    @apply bg-gradient-to-l from-primary-500 to-primary-600 bg-clip-text text-transparent;
  }
  .gradient-primary {
    @apply bg-gradient-to-r from-primary-500 to-primary-600;
  }
}

/* Custom CSS */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
  opacity: 0;
  z-index: 10;
  width: 40px;
  -webkit-appearance: none;
}
