.mySwiper {
  width: 100%;
  height: 550px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper_slide {
  background-position: center;
  background-size: cover;
  height: 400px;
  width: 50% !important;

  .img {
    display: block;
    width: 50%;
  }
}

.swiper-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiperContainer {
  width: 100%;
  height: 400px;
  padding: 20px;
}

.swiperSlide {
  width: 100%;
}

.testimonialCard {
  height: 296px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  padding: 20px 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-top: 20px;
  @media screen and (min-width: 768px) {
    min-height: 256px;
  }
}

.swiper-slide {
  .swiper-slide-active {
    .testimonialCard {
      transform: scale(1.05);
    }
  }
}

.feature-pagination {
  position: relative;
  bottom: 0px;
}
